@import "tailwindcss";

@layer utilities {

.gradient-organic {
  background: linear-gradient(
    135deg,
    #f7f4ee 0%,
    #d1c4a8 50%,
    #8b9774 100%
  );
}

.gradient-gold-stone {
 background: linear-gradient(
    135deg,
    #c5a059 10%,   
    #bdbcbc 50%,   
    #787575 100%  
  );
}
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}